<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Polar Area Chart</title>
    <!--	<script src="./Polar Area Chart_files/Chart.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous"></script>
    <script src="../static/utils.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
    <style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation {
        from {
            opacity: .99
        }
        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        animation: chartjs-render-animation 1ms
    }

    .chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
        position: absolute;
        direction: ltr;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        z-index: -1
    }

    .chartjs-size-monitor-expand > div {
        position: absolute;
        width: 1000000px;
        height: 1000000px;
        left: 0;
        top: 0
    }

    .chartjs-size-monitor-shrink > div {
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0
    }

    .player1 {
        font-weight: bold;
        color: #0ba921;
    }

    .player2 {
        font-weight: bold;
        color: #AE0A25;
    }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body>
<div>
    <div class="row mt-3">
        <div class="offset-lg-1 col-lg-6">
            <div class="row g-3">
                <div class="col-auto">
                    <label for="compare_name" class="visually-hidden">Player Name</label>
                    <input type="text" class="form-control" id="compare_name" placeholder="Player name">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary mb-3" onclick="searchPlayer()">Search player</button>
                </div>
            </div>
            <table id="search_table" class="table" style="display: none">
                <thead>
                <tr>
                    <th scope="col" style="width: 10%">Player_id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Squad</th>
                    <th scope="col" style="width: 5%"></th>
                    <th scope="col" style="width: 5%"></th>
                </tr>
                </thead>
                <tbody id="player_table">
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3">
        <div id="canvas-holder" class="offset-lg-1 col-lg-6">
            <div style="text-align: right;">
                    <span class="mr-5">Select type of chart</span>
                <span class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-sm btn-primary" id="raw_value" onclick="changeGraph('raw_value')">
                        Raw value
                    </label>
                    <label class="btn btn-sm btn-outline-primary" id="percentile" onclick="changeGraph('percentile')">
                        Percentile
                    </label>
                </span>
            </div>
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>
            <canvas id="chart-area" style="display: block; width: 675px; height: 400px;" width="675" height="400"
                    class="chartjs-render-monitor"></canvas>
        </div>
        <div class="col-lg-4">
            <table class="table" style="width: 100%">
                <thead>
                <tr>
                    <th scope="col" style="width: 40%">Metric (per 90)</th>
                    <th scope="col" id="player1"></th>
                    <th scope="col" id="player2"></th>
                </tr>
                </thead>
                <tbody id="table_stat">
                </tbody>
            </table>
        </div>
    </div>

</div>

<!--<button id="randomizeData">Randomize Data</button>-->
<!--<button id="addData">Add Data</button>-->
<!--<button id="removeData">Remove Data</button>-->
<script>
    let editLabel = function (label) {
        let new_label = label.replace("_per90", "").replace("pct", "%").replaceAll("_", " ");
        return new_label;
    }

    var chartColors = window.chartColors;
    var color = Chart.helpers.color;
    var config = {
            data: {
                datasets: [],
                real_data: [],
                labels: [],
                real_labels: []
            },
            options: {
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        top: 0,
                        bottom: 20
                    }
                },
                responsive: true,
                legend: {
                    position: 'right',
                    display: false
                },
                title: {
                    display: true,
                    fontSize: 20,
                    text: 'Polar chart for player'
                },
                scale: {
                    ticks: {
                        beginAtZero: true,
                        showLabelBackdrop: false,
                        display: false,
                        gridLines: true,
                        max: 1,
                        min: 0,
                        stepSize: 0.2
                    },
                    reverse: false
                },
                animation: {
                    animateRotate: false,
                    animateScale: true,
                },
                pointLabels: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            let labels = [];
                            labels.push(" " + data.datasets[tooltipItem.datasetIndex].label || '');
                            labels.push(' Value: ' + Math.round(data.real_data[tooltipItem.datasetIndex][tooltipItem.index] * 100) / 100);
                            labels.push(' Percentile: ' + data.datasets[tooltipItem.datasetIndex].percentile[tooltipItem.index]*100);
                            return labels;
                        }
                    }
                },
                plugins: {
                    datalabels: {
                        formatter: function (value, context) {
                            return context.chart.data.labels[context.dataIndex];
                        },
                        anchor: 'start',
                        align: 'end',
                        offset: 235 // Gets updated
                    }
                },
            }
        }
    ;

    window.onload = function () {
        var ctx = document.getElementById('chart-area');
        let url = new URL(window.location.href);
        let player_id = url.searchParams.get("player_id");
        let compare_id = url.searchParams.get("compare_id");
        let position = url.searchParams.get("position");
        // console.log(player_id);
        let pos_query = ''
        if (position) {
            pos_query = '&position='+position
        }
        if (player_id) {
            // https://footballpolararea.herokuapp.com/
            if (compare_id) {
                $.getJSON('/data?player_id=' + player_id + "," + compare_id+pos_query, function (data) {

                    updateConfig(data["compare"], data["max"], 0);
                    config.data.datasets[0].borderColor = [];
                    config.data.real_labels.forEach(function (value, j) {
                        config.data.datasets[0].borderColor.push("rgb(0, 0, 0)");
                    });

                    updateConfig(data["player"], data["max"], 1);
                    config.options.title.text = [
                        data["player"]["player"] + " | " + data["compare"]["player"],
                        "Club: " + data["player"]["squad"] + " - Minutes: " + data["player"]["minutes"] +
                        " | Club: " + data["compare"]["squad"] + " - Minutes: " + data["compare"]["minutes"],
                        ""];

                    $('#player1').text(data["player"]["player"]);
                    $('#player2').text(data["compare"]["player"]);

                    let stats_in_table = ["minutes"];
                    createStatTable(stats_in_table.concat(config.data.real_labels), data["player"], data["compare"]);

                    console.log(config.data);
                    window.myPolarArea = Chart.PolarArea(ctx, config);
                });
            } else {
                $.getJSON('/data?player_id=' + player_id+pos_query, function (data) {
                    updateConfig(data["player"], data["max"], 1);
                    $('#player1').text(data["player"]["player"]);
                    $('#player2').text("Ranking");
                    let stats_in_table = ["minutes"];
                    createStatTable(stats_in_table.concat(config.data.real_labels), data["player"], null);
                    window.myPolarArea = Chart.PolarArea(ctx, config);
                });
            }
        }
    };

    let changeGraph = function (graph_type) {
        if (graph_type === "raw_value") {
            config.data.datasets.forEach(function (value) {
                value.data = value.raw_value;
            });
            $('#percentile').removeClass("btn-primary").addClass("btn-outline-primary")
            $('#raw_value').removeClass("btn-outline-primary").addClass("btn-primary")
            window.myPolarArea.update();
        } else {
            config.data.datasets.forEach(function (value) {
                value.data = value.percentile;
            });
            $('#raw_value').removeClass("btn-primary").addClass("btn-outline-primary")
            $('#percentile').removeClass("btn-outline-primary").addClass("btn-primary")
            window.myPolarArea.update();
        }
    }

    var colorNames = Object.keys(window.chartColors);

    let attacking_stats = ['npxg_per90', 'npxg_per_shot'];
    let creating_stats = ['progressive_passes_per90', 'sca_passes_live_per90', 'passes_into_penalty_area_per90'];
    let dribbling_stats = ['dribbles_completed_per90', 'dribbles_completed_pct', 'carry_progressive_distance_per90'];
    let defending_stats = ['pressures_per90', 'pressure_regain_pct'];
    config.data.real_labels = attacking_stats.concat(creating_stats, dribbling_stats, defending_stats);
    config.data.real_labels.forEach(function (value) {
        config.data.labels.push(editLabel(value));
    });

    let createStatTable = function (stats, player1, player2) {
        if (player2) {
            $('#table_stat').append(
                '<tr><th>Club</th>' +
                '<td class="player1">' + player1["squad"] + '</td>' +
                '<td class="player2">' + player2["squad"] + '</td>');
        } else {
            $('#table_stat').append(
                '<tr><th>Club</th>' +
                '<td class="player1">' + player1["squad"] + '</td>' +
                '<td></td>');
        }
        stats.forEach(function (value, j) {
            let value_name = editLabel(value);
            let value1 = Math.round(player1[value] * 100) / 100;
            if (player2) {
                let value2 = Math.round(player2[value] * 100) / 100;
                if (value1 > value2) {
                    $('#table_stat').append(
                        '<tr><th>' + value_name + '</th>' +
                        '<td class="player1">' + value1 + '</td>' +
                        '<td>' + value2 + '</td>');
                } else if (value1 < value2) {
                    $('#table_stat').append(
                        '<tr><th>' + value_name + '</th>' +
                        '<td>' + value1 + '</td>' +
                        '<td class="player2">' + value2 + '</td>');
                } else {
                    $('#table_stat').append(
                        '<tr><th>' + value_name + '</th>' +
                        '<td class="player1">' + value1 + '</td>' +
                        '<td class="player2">' + value2 + '</td>');
                }
            } else {
                let td_class = player1[value + "_rank"] >= 90 ? ' class="player1"' : '';
                $('#table_stat').append(
                    '<tr><th>' + value_name + '</th>' +
                    '<td' + td_class + '>' + value1 + '</td>' +
                    '<td' + td_class + '>' + player1[value + "_rank"] + '</td>');
            }
        });
    };

    let createDataForChart = function (temp_stats, color, temp_obj, temp_data, max_data) {
        temp_stats.forEach(function (value, j) {
            // config.data.datasets
            temp_obj.raw_value.push(temp_data[value] / max_data[value]);
            temp_obj.percentile.push(temp_data[value + "_rank"] / 100);
            temp_obj.data = temp_obj.raw_value;
            temp_obj.backgroundColor.push(color);
            // temp_obj.borderColor.push("rgb(0, 0, 0)");
        });
        return temp_obj;
    };
    let createRealDataForChart = function (temp_stats, temp_data) {
        let temp_obj = [];
        temp_stats.forEach(function (value, j) {
            // config.data.datasets
            temp_obj.push(temp_data[value]);
        });
        return temp_obj;
    };
    let updateConfig = function (player_value, max_value, alpha) {
        config.options.title.text = [player_value["player"], "Club: " + player_value["squad"] + " | Minutes: " + player_value["minutes"], ""];

        let data_obj = {
            data: [],
            raw_value: [],
            percentile: [],
            backgroundColor: [],
            borderColor: [],
            label: player_value["player"] // for legend
        }
        data_obj = createDataForChart(attacking_stats, color(chartColors.red).alpha(alpha).rgbString(), data_obj, player_value, max_value);
        data_obj = createDataForChart(creating_stats, color(chartColors.blue).alpha(alpha).rgbString(), data_obj, player_value, max_value);
        data_obj = createDataForChart(dribbling_stats, color(chartColors.green).alpha(alpha).rgbString(), data_obj, player_value, max_value);
        data_obj = createDataForChart(defending_stats, color(chartColors.yellow).alpha(alpha).rgbString(), data_obj, player_value, max_value);
        console.log(data_obj);
        config.data.datasets.push(data_obj);
        config.data.real_data.push(createRealDataForChart(config.data.real_labels, player_value));
    };

    let searchPlayer = function () {
        let player_name = document.getElementById('compare_name').value;
        console.log(player_name);
        if (player_name) {
            $.getJSON('/search?name=' + player_name, function (data) {
                console.log(data);
                $('#search_table').show();
                $('#player_table').empty();
                data.forEach(function (value, j) {
                    $('#player_table').append(
                        '<tr><th>' + value["index"] + '</th>' +
                        '<td>' + value["player"] + '</td>' +
                        '<td>' + value["squad"] + '</td>' +
                        '<td><button type="button" class="btn btn-success btn-sm" onclick="view(' + value["index"] + ')">View</button></td>' +
                        '<td><button type="button" class="btn btn-primary btn-sm" onclick="compare(' + value["index"] + ')">Compare</button></td></tr>');
                });
            });
        }
    };

    let compare = function (compare_id) {
        let url = new URL(window.location.href);
        url.searchParams.set("compare_id", compare_id);
        window.location.replace(url);
    };

    let view = function (player_id) {
        let url = "/chart?player_id=" + player_id;
        console.log(url);
        window.location.replace(url);
    };

    $("#compare_name").keypress(function (event) {
        if (event.keyCode === 13) {
            searchPlayer();
        }
    });

</script>


</body>
</html>