<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Polar Area Chart</title>
    <!--	<script src="./Polar Area Chart_files/Chart.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous"></script>
    <script src="../static/utils.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
    <style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation {
        from {
            opacity: .99
        }
        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        animation: chartjs-render-animation 1ms
    }

    .chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
        position: absolute;
        direction: ltr;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        z-index: -1
    }

    .chartjs-size-monitor-expand > div {
        position: absolute;
        width: 1000000px;
        height: 1000000px;
        left: 0;
        top: 0
    }

    .chartjs-size-monitor-shrink > div {
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0
    }</style>
</head>

<body>
<div id="canvas-holder" style="width:50%">
    <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand">
            <div class=""></div>
        </div>
        <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
        </div>
    </div>
    <canvas id="chart-area" style="display: block; width: 675px; height: 337px;" width="675" height="337"
            class="chartjs-render-monitor"></canvas>
</div>
<!--<button id="randomizeData">Randomize Data</button>-->
<!--<button id="addData">Add Data</button>-->
<!--<button id="removeData">Remove Data</button>-->
<script>

    var chartColors = window.chartColors;
    var color = Chart.helpers.color;
    var config = {
            data: {
                datasets: [],
                real_data: [],
                labels: []
            },
            options: {
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        top: 0,
                        bottom: 20
                    }
                },
                responsive: true,
                legend: {
                    position: 'right',
                    display: false
                },
                title: {
                    display: true,
                    fontSize: 16,
                    text: 'Polar chart for player'
                },
                scale: {
                    ticks: {
                        beginAtZero: true,
                        showLabelBackdrop: false,
                        display: false,
                        gridLines: true,
                        max: 1,
                        min: 0,
                        stepSize: 0.2
                    },
                    reverse: false
                },
                animation: {
                    animateRotate: false,
                    animateScale: true,
                },
                pointLabels: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            let label = data.datasets[tooltipItem.datasetIndex].label || '';

                            if (label) {
                                label += ': ';
                            }
                            // label += Math.round(tooltipItem.yLabel * 100) / 100;
                            label += data.real_data[tooltipItem.datasetIndex][tooltipItem.index]
                            return label;
                        }
                    }
                },
                plugins: {
                    datalabels: {
                        formatter: function (value, context) {
                            return context.chart.data.labels[context.dataIndex];
                        },
                        anchor: 'start',
                        align: 'end',
                        offset: 190 // Gets updated
                    }
                },
            }
        }
    ;

    window.onload = function () {
        var ctx = document.getElementById('chart-area');
        let url = new URL(window.location.href);
        let player_id = url.searchParams.get("player_id");
        let compare_id = url.searchParams.get("compare_id");
        console.log(player_id);
        if (player_id) {
            // https://footballpolararea.herokuapp.com/
            if (compare_id) {
                $.getJSON('/data?player_id=' + player_id + "," + compare_id, function (data) {

                    updateConfig(data["compare"],data["max"],0);
                    config.data.datasets[0].borderColor = [];
                    config.data.labels.forEach(function (value, j) {
                        config.data.datasets[0].borderColor.push("rgb(0, 0, 0)");
                    });

                    updateConfig(data["player"],data["max"],1);
                    config.options.title.text = [
                        data["player"]["player"] + " | " + data["compare"]["player"],
                        "Club: " + data["player"]["squad"] + " - 90s: " + data["player"]["minutes_90s"] +
                        " | Club: " + data["compare"]["squad"] + " - 90s: " + data["compare"]["minutes_90s"],
                        ""];

                    console.log(config.data);
                    window.myPolarArea = Chart.PolarArea(ctx, config);
                });
            } else {
                $.getJSON('/data?player_id=' + player_id, function (data) {
                    updateConfig(data["player"],data["max"],1);
                    window.myPolarArea = Chart.PolarArea(ctx, config);
                });
            }
        }
    };

    // document.getElementById('randomizeData').addEventListener('click', function () {
    //     config.data.datasets.forEach(function (piece, i) {
    //         piece.data.forEach(function (value, j) {
    //             config.data.datasets[i].data[j] = randomScalingFactor();
    //         });
    //     });
    //     window.myPolarArea.update();
    // });

    var colorNames = Object.keys(window.chartColors);
    // document.getElementById('addData').addEventListener('click', function () {
    //     if (config.data.datasets.length > 0) {
    //         config.data.labels.push('data #' + config.data.labels.length);
    //         config.data.datasets.forEach(function (dataset) {
    //             var colorName = colorNames[config.data.labels.length % colorNames.length];
    //             dataset.backgroundColor.push(window.chartColors[colorName]);
    //             dataset.data.push(randomScalingFactor());
    //         });
    //         window.myPolarArea.update();
    //     }
    // });
    // document.getElementById('removeData').addEventListener('click', function () {
    //     config.data.labels.pop(); // remove the label first
    //     config.data.datasets.forEach(function (dataset) {
    //         dataset.backgroundColor.pop();
    //         dataset.data.pop();
    //     });
    //     window.myPolarArea.update();
    // });

    let attacking_stats = ['npxg_per90', 'npxg_per_shot'];
    let creating_stats = ['progressive_passes_per90', 'sca_passes_live_per90','passes_into_penalty_area_per90'];
    let dribbling_stats = ['dribbles_completed_per90', 'dribbles_completed_pct','carry_progressive_distance_per90'];
    let defending_stats = ['pressures_per90', 'pressure_regain_pct'];
    config.data.labels = attacking_stats.concat(creating_stats, dribbling_stats, defending_stats);

    let createDataForChart = function (temp_stats, color, temp_obj, temp_data, max_data) {
        temp_stats.forEach(function (value, j) {
            // config.data.datasets
            temp_obj.data.push(temp_data[value] / max_data[value]);
            temp_obj.backgroundColor.push(color);
            // temp_obj.borderColor.push("rgb(0, 0, 0)");
        });
        return temp_obj;
    };
    let createRealDataForChart = function (temp_stats, temp_data) {
        let temp_obj = [];
        temp_stats.forEach(function (value, j) {
            // config.data.datasets
            temp_obj.push(temp_data[value]);
        });
        return temp_obj;
    };
    let updateConfig = function (player_value,max_value,alpha) {
        config.options.title.text = [player_value["player"], "Club: " + player_value["squad"] + " | 90s: " + player_value["minutes_90s"], ""];

        let data_obj = {
            data: [],
            backgroundColor: [],
            borderColor: [],
            label: player_value["player"] // for legend
        }
        data_obj = createDataForChart(attacking_stats, color(chartColors.red).alpha(alpha).rgbString(), data_obj, player_value, max_value);
        data_obj = createDataForChart(creating_stats, color(chartColors.blue).alpha(alpha).rgbString(), data_obj, player_value, max_value);
        data_obj = createDataForChart(dribbling_stats, color(chartColors.green).alpha(alpha).rgbString(), data_obj, player_value, max_value);
        data_obj = createDataForChart(defending_stats, color(chartColors.yellow).alpha(alpha).rgbString(), data_obj, player_value, max_value);
        // console.log(data_obj);
        config.data.datasets.push(data_obj);
        config.data.real_data.push(createRealDataForChart(config.data.labels, player_value));
    };

</script>


</body>
</html>